body {
    background: #111;
    color: white;
    font-family: "Bungee", sans-serif;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-gap: 8px;
    justify-content: center;
    margin-top: 20px;
}

.tile {
    width: 70px;
    height: 70px;
    background: #222;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.25s;
}

.tile.on {
    background: yellow;
}
